<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
  <a style="position: absolute;right: 20px; top: 10px" href = \register>Sign-Up</a>
 <form action="\login" method="post">
      <center>
      <label style="color: #FF0000">{{massage}}</label>
          <br>
      <label>username:</label>
      <input type = "text" id="username" name="username" required><br>

      <br><label>password:</label>
      <input type = "text" id="password" name="password" required><br>
      <button type="submit">Sign-In</button>
      </center>


  </form>
</body>
</html>